// Styles
// Card

// Imports
@import '../base/variables';
@import '../base/mixins';

// Styles

.button {
  width: 100px;
  padding: 0.7rem;
  border: none;
  @include roundedCorners(32px);

  &-default {
    color: $white;
    background-color: $sand;
  }
}
