// Styles
// Card

// Imports
@import '../base/variables';
@import '../base/mixins';

// Styles

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: $maxWidth;
  margin: 0 auto;

  @include phone-only() {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }
  @include tablet-portrait-only() {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  @include tablet-only() {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  @include laptop-only() {
    width: 100%;
    margin-top: 50px;
  }

  h1 {
    font-size: $extra;
  }

  p {
    font-size: $regular;
  }

  &-image {
    text-align: center;
    width: 40%;
    height: 360px;
    background-image: url('../../../images/extra.jpg');
    background-size: cover;
    margin: 50px;

    @include phone-only() {
      width: $phoneWidth;
      height: $phoneWidth;
      background-image: url('../../../images/phone.jpg');
      background-size: cover;
      margin: 0 auto;
    }

    @include tablet-portrait-only() {
      width: $tabletPortraitWidth;
      height: $tabletPortraitWidth;
      background-image: url('../../../images/tablet-portrait.jpg');
      background-size: cover;
      margin: 0 auto;
    }

    @include tablet-only() {
      width: $tabletWidth;
      height: 521px;
      background-image: url('../../../images/tablet.jpg');
      background-size: cover;
      margin: 0 auto;
    }

    @include laptop-only() {
      width: 480px;
      height: 319px;
      background-image: url('../../../images/laptop.jpg');
      background-size: cover;
      margin: 0 auto;
    }
  }

  &-content {
    text-align: justify;
    width: 30%;
    margin: 50px;

    @include phone-only() {
      width: $phoneWidth;
      margin: 0 auto;
    }

    @include tablet-portrait-only() {
      width: $tabletPortraitWidth;
      margin: 0 auto;
    }

    @include tablet-only() {
      width: $tabletWidth;
      margin: 0 auto;
    }

    @include laptop-only() {
      margin: 0 auto;
    }
  }
}
