// Layout width
$maxWidth: 1440px;

// Breakpoints
$phone: 320px;
$tablet: 480px;
$laptop: 768px;
$desktop: 1025px;
$extra: 1201px;

//Fonta families
$sans: Arial, Helvetica, sans-serif;

//Font sizes
$default: 16px;
$small: 0.8rem;
$regular: 1rem;
$large: 1.5rem;
$extra: 2.5rem;

//Colors
$black: #0e0e0e;
$sand: #e2c0ae;
