// Layout width
$maxWidth: 1440px;
$phoneWidth: 250px;
$tabletPortraitWidth: 450px;
$tabletWidth: 740px;

//Fonta families
$sans: Arial, Helvetica, sans-serif;

//Font sizes
$default: 16px;
$small: 0.8rem;
$regular: 1rem;
$large: 1.5rem;
$extra: 2.5rem;

//Colors
$white: #fefefe;
$black: #0e0e0e;
$sand: #e2c0ae;
