// Styles
// Layout

// Imports
@import '../base/variables';
@import '../base/mixins';

* {
  transition: 0.3s;
}

html,
body {
  font-family: $sans;
  font-size: $default;
  margin: 0 auto;
}

section {
  padding: 10px;
}
